#preview, #editor {
  background-color: #E0E2E1;
}
.label{
  background-color: #626262;
}
#preview{
  min-height: 25vh;
}
#preview, #editor, #editor:focus, .label {
  border: 1px solid #333;
}
#editor:focus {
  outline: none !important;
  box-shadow: 0;
}